<!doctype html>
<html>
<head>
    <title>Login Page</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->

    <!-- login Header -->
    {{> loginTemplate}}
    <script src="/js/facebook.js"></script>
</head>

<body>
    <body2 class="body2">
        <center>
            <div id="backView">
                <div id="welcome">
                    <h1 class="display-3" id="welcomeTitle">Welcome!</h1>
                    <h1 class="display-3" id="welcomeTitle">To</h1>
                    <div id="DJAM">
                        <div id="DJAM-img">
                            <img src="/img/Djam.png" id="innerImg">
                        </div>
                    </div>
                </div>        
                <div id="middle">
                    <div id="firstLine">
                        <h5 id="middleWords">Make listening to music</h5>
                    </div>
                    <div id="secondLine">
                        <h5 id="middleWords">A more sociable experience!</h5>
                    </div>
                </div>        
                <div id="in-login-container">
                    <button class="button button2" disabled>Login</button>
                </div>
            </div>


            <!-- Actual Login Stuff -->
            <div id="overlayHelp">                
                <div>
                    <a href="home">
                        <div id="back">
                            <img id="back_img" src="/img/exit.png">
                        </div>
                    </a>
                </div>
                <div id="icon">
                    <!-- <center> -->
                        <br>
                        <p></p>
                        <h1 id="help-title" class="font-weight-bold lead">Frequently Asked Questions:</h1>
                        <br>
                        <ol>
                            <li><p class="font-weight-bold lead">&nbspWhat does Djam do?</p>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDJam allows you to listen to music with your friends from anywhere in the world by either hosting your own music session or joining a friend’s session.
                            </p>
                            </li>

                            <li><p class="font-weight-bold lead">&nbspHow I host my own session?</p>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Once logged in, click the “host a new session” button and you can then choose friends you want to add. Click the song you want to play and start hosting a session with your friends!
                            </p>
                            </li>
                            <li><p class="font-weight-bold lead">&nbspHow do I join a session?</p>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Click the “stream into an existing session” button and all the current sessions your friends are hosting will appear. Click on the one you would like to join and enjoy listening with your friends!
                            </p>
                            </li>

                            <li><p class="font-weight-bold lead">&nbsp Is there a way to shuffle through random songs when hosting a session?</p>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Yes! If you do not feel like choosing a specific song and would rather have the app choose for you, you can click the button “shuffle play” on the song selection page.
                            </p>
                            </li>

                            <li><p class="font-weight-bold lead">&nbsp Can I see who is listening to my session?</p>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Yes! Once the session is started, you can click the “your listeners” button and see who is currently listening.
                            </p>
                            </li>
                        </ol>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                <!-- </center> -->
            </div>


        </center>
        <script>
          if (typeof(Storage) !== "undefined") {
            sessionStorage.hello = 5;
            console.log(sessionStorage.friends);
        } else {
            console.log("Sorry, your browser does not support web storage...");
        }
    </script>


</body2>
</body>
</html>
