<!doctype html>
<html>
<head>
    <title>Home Page</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <link href="/css/home.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>   
    <center>
        <div id="welcome">
            <h1 class="display-4" id="welcomeTitle">Welcome!</h1>
            <div id="Title-to">
                <h1 id="welcomeTitle">To</h1>
            </div>
            <div id="DJAM">
                <h1 class="display-3" id="welcomeTitle">DJAM</h1>
            </div>
        </div>         
        <div id="host-container">
            <button class="button button2" onclick="window.location.href = 'host';" id="host-btn">
                <div id="btn-txt">
                    Host
                </div>
                <div >
                    <p class="lead" id="fine-txt">A New Session</p>
                </div>
            </button>
        </div>        
        <div id="stream-container">
            <button class="button button2" onclick="window.location.href = 'stream';"id="stream-btn">
                    <div id="btn-txt">
                        Stream
                    </div>
                    <div >
                        <p class="lead" id="fine-txt">An Existing Session</p>
                    </div>
            </button>
        </div>
    </center>

    <script>
        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
      }
  </script>
</body>
</html>

