<!doctype html>
<html>
<head>
    <title>Home Page</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->

    <!-- Home Header -->
    {{> homeTemplate}}
    <!-- End Home Header -->
</head>

<body>   
    <center>
        <a href="login">
            <div id="back-container">
                <h1 class="display-4"><</h1>
            </div>
        </a>
        <div id="welcome">
            <h1 class="display-4" id="welcomeTitle">Welcome!</h1>
            <div id="Title-to">
                <h1 id="welcomeTitle">To</h1>
            </div>
            <div id="DJAM">
                    <div id="DJAM-img">
                        <img src="/img/Djam.png" id="innerImg">
                    </div>
                <!-- <h1 class="display-3" id="welcomeTitle">DJAM</h1> -->
            </div>
        </div>         
        <div id="host-container">
            <button class="button button2" onclick="window.location.href = 'host';" id="host-btn">
                <div id="btn-txt">
                    Host
                </div>
                <div >
                    <p class="lead" id="fine-txt">A New Session</p>
                </div>
            </button>
        </div>        
        <div id="stream-container">
            <button class="button button2" onclick="window.location.href = 'stream';"id="stream-btn">
                    <div id="btn-txt">
                        Stream
                    </div>
                    <div>
                        <p class="lead" id="fine-txt">Into an Existing Session</p>
                    </div>
            </button>
        </div>
    </center>
    <!-- This is the help button/page -->
    <div id="helpButtonContainer" onclick="window.location.href = 'helpHome';">
        <img src="/img/help.png" id="helpImg">
    </div>

    <!-- End of the help button/page -->
    <script>
        sessionStorage.shuffle = "false";
        sessionStorage.totalFriends = "0";
        sessionStorage.totalSongs= "0";
        sessionStorage.recountSongs ="true";
        sessionStorage.recountFriends ="true";
        sessionStorage.maxFriends="0";
        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
      }
  </script>
</body>
</html>

