<!doctype html>
<html>
<head>
    <title>Landing Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/hostCSS.css" rel="stylesheet">
</head>
<body>
    <center>
        <!-- First Section of music controls -->
        <div id="currentSong">

            <!-- Left most section -->
            <div id="moreOptions">
                <button>Include Image here</button>
            </div>

            <!-- Middle section -->
            <div id="albumCover">
                Album<br>Cover
            </div>

            <!-- right most section -->
            <div id="musicControls">
                <div id="musicTitle">
                    <h4>Your Session</h4>
                    <h5>Artist Name, etc</h5>
                </div>
                <div id="playerButtons">
                    <a href="back">
                        <button id="endSesh">
                            End<br>Session
                        </button>
                    </a>
                    <button id="pause">Pause</button>
                    <button id="next">Next</button>
                </div>
            </div>
        </div>

        <!-- Second Section of Session ID -->
        <div id="SessionIDTab">
            <h4> Your Session ID is: 53X</h4>
        </div>

        <!-- Third Section of Friend List -->
        <div id="friendList">
            <button>
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Jake From StateFarm</h3>
            </button>
            <button>
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Mark ZuckEZuck</h3>
            </button>
            <button>Invite Friends +</button>
        </div>

        <!-- Last Section for Buttons -->
        <div id="bottomTab">
            <div id="viewTheChat" > <!-- add onlick-->
                <!-- add image-->
                <h2>Img1</h2>
                <h4>View The Chat</h4>
            </div>            
            <div id="editTheQueue"> <!-- add onlick-->
                <!-- add image-->
                <h2>Img2</h2>
                <h4>Edit The Queue</h4>
            </div>
        </div>
    </center>
</body>
</html>







