<!doctype html>
<html>
<head>
    <title>Start Host Page</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <link href="/css/host.css" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <center>
        <div id="titleBar">
            <a href="home">
                <div id="back-container">
                    <h1 class="display-4"><</h1>
                </div>
            </a>
            <div id="title-container">
                <h1 id="title">Host a Session:</h1>
            </div>
        </div>
        <div id="middle">
            <div id="instructions" >
                <p class="lead" id="instructions-txt">
                    1. Select your listeners:
                </p>
            </div>
            <div id="friend-list">

                {{#each friend}}
                <div class="friend" id="friend{{id}}">
                    <div id="friendImgContainer">
                        <img src={{imageURL}} id="hello">
                    </div>
                    <div id="friendNameContainer">
                        <p class="h5" id="friendName">{{name}}</p>
                    </div>
                </div>
                <br>
                {{/each}} 
            </div>
        </div>

        <div id="bottomBar">
            <button type="button" class="block" id="bottom-txt">
                Continue to Song Selection
            </button>
        </div>


    </center>

    <script>
        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
          $("#addList").css("left", "50%");
      }
      function invited(){
        document.getElementById("inviteText").innerHTML = "Invited";
        $("#inviteFriend").css("background-color", "lightgreen");
    }
</script>
</body>
</html>



