<!doctype html>
<html>
<head>
    <title>Host Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">
</head>
<body>
    <a href="back">
        <button id="escapeButton">
            <-
        </button>
    </a>

    <center>
        <h1 class="landingTitleTemp">Host Page</h1>
    </center>
</body>
</html>
