<!doctype html>
<html>
<head>
    <title>Landing Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/hostCSS.css" rel="stylesheet">
</head>
<body>
    <center>
        <!-- First Section of music controls -->
        <div id="currentSong">

            <!-- Left most section -->
            <div id="moreOptions">
                <button id="moreOptionsBtn">Include<br>Image</button>
            </div>

            <!-- Middle section -->
            <div id="albumCover">
                <button id="albumCoverBtn">Album<br>Cover</button>
            </div>

            <!-- right most section -->
            <div id="musicControls">
                <div id="musicTitle">
                    <h1 id="text1">Your Session</h1>
                    <h2 id="text2">Artist Name, etc</h2>
                </div>
                <div id="playerButtons">
                    <a href="back">
                        <button id="endSesh">
                            <p id="endSeshText">End<br>Session</p>
                        </button>
                    </a>
                    <button id="pause">
                        <p id="paNeText">Pause</p>
                    </button>
                    <button id="next">
                        <p id="paNeText">Next</p>
                    </button>
                </div>
            </div>
        </div>

        <!-- Second Section of Session ID -->
        <div id="SessionIDTab">
            <h4 id="SessionID"> Your Session ID is: 53X</h4>
        </div>

        <!-- Third Section of Friend List -->
        <div id="friendList">
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Jake From StateFarm</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Mark ZuckEZuck</h3>
            </button>


            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp1</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp2</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp3</h3>
            </button>            
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp4</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp5</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp6</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp7</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp8</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp9</h3>
            </button>            
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp10</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp11</h3>
            </button>            
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp12</h3>
            </button>
            
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp13</h3>
            </button>            
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp14</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp15</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp16</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp17</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp18</h3>
            </button>
            <button id="friend">
                <!-- img src="img.src" alt="Name" id="friendImg"-->
                <h3 id="friendName">Temp19</h3>
            </button>
            








            <button id="inviteFriend">
                <p id="inviteText">Invite Friends +</p>
            </button>
        </div>

        <!-- Last Section for Buttons -->
        <div id="bottomTab">
            <div id="viewTheChat" > <!-- add onlick-->
                <!-- add image-->
                <h2>Img1</h2>
                <h4>View The Chat</h4>
            </div>            
            <div id="editTheQueue"> <!-- add onlick-->
                <!-- add image-->
                <h2>Img2</h2>
                <h4>Edit The Queue</h4>
            </div>
        </div>
    </center>
</body>
</html>







