<!doctype html>
<html>
<head>
    <title>Host Info</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <!-- Host Header -->
    {{>hostTemplate}}
    <!-- End Host Header -->
  <!-- Google Header -->
  {{>google}}
  <!-- End Goolge Header -->
    <script src="/js/host.js"></script>
</head>
<body>   
    <center>
        <p id="chillin"></p>
        <div id="titleBar">
            <a href="hostSong">
                <div id="back-container">
                    <h1 class="display-4"><</h1>
                </div>
            </a>
            <div id="title-container">
                <h1 id="title">Hosting</h1>
            </div>
        </div>
        <div id="middle">
            <div id="instructions" >
                <p class="lead on-air" id="instructions-txt">
                    ● ON AIR
                </p>
                <p class="lead" id="instructions-txt-id">
                </p>
            </div>
            <div id="buttons"></div>
            <div id="albumArt">
            </div>
        </div>

        <div id="bottomBar">
            <button type="button" class="block" id="bottom-txt">
                Continue to Song Selection
            </button>
        </div>


    </center>

    <script>
        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
          $("#addList").css("left", "50%");
      }
      function invited(){
        document.getElementById("inviteText").innerHTML = "Invited";
        $("#inviteFriend").css("background-color", "lightgreen");
    }
    </script>

       
    <script>
          if (typeof(Storage) !== "undefined") {
            var storaged = sessionStorage.hello;
            console.log(storaged);
          } else {
            console.log("Sorry, your browser does not support web storage...");
          }


        document.getElementById("instructions-txt-id").innerHTML = "You session ID: " + sessionStorage.sessionID;
    </script>

</body>
</html>



