<!doctype html>
<html>
<head>
    <title>Host Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">
</head>
<body>
    <center>
        <div id="titleBar">
            <p id="landingTitle">DJam</p>
        </div>

        <div id="mainButtons">

            <div id="topButton" class="btn-group">
                <a href="host">
                    <div id="startBtn">
                        <!-- <button type="button"  onclick="document.getElementById('startBtn1').style.color = 'red'"> -->
                            <img id="hostImg" src="/img/DJ_Page.png">
                            <h2 id="hostTxt">Host a Session</h2>
                        <!-- </button> -->
                    </div>
                </a>
            </div>

            <div id="bottomButton" class="btn-group">
                <a href="search">
                    <button type="button" id="startBtn" onclick="document.getElementById('startBtn3').style.color = 'red'">
                        Search For A Session
                    </button>
                </a>
            </div>
        </div>

        <div id="bottomBar">
            <div id="albumCover">
                <br>Album<br>
                Cover
            </div>
            <div id="rightBottomBar">
                <div id="songTitle">
                    <h4>Title of Song</h4>
                </div>
                <div id="leaveOrAdd">
                    <button id="leaveSesh">
                        Leave<br>
                        Session
                    </button>
                    <button id="addList">
                        Add To Your List
                    </button>
                </div>
            </div>
        </div>

    </center>
</body>
</html>
