<!doctype html>
<html>
<head>
    <title>Host Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <center>
        <div id="titleBar">
            <p id="landingTitle">DJam</p>
        </div>

        <div id="mainButtons">

            <div id="topButton" class="btn-group">
                <a href="loginHost">
                    <!-- <div id="startBtn"> -->
                        <!-- <button type="button"  onclick="document.getElementById('startBtn1').style.color = 'red'"> --> 
                            <img id="myImg" src="/img/DJ_Page.png">
                            <h2 id="hostTxt">Host a Session</h2>
                        <!-- </button> -->
                    <!-- </div> -->
                </a>
            </div>

            <div id="bottomButton" class="btn-group">
                <a href="loginSearch">
                   <!--  <button type="button" id="startBtn" onclick="document.getElementById('startBtn3').style.color = 'red'"> -->
                        <img id="myImg" src="/img/Search_Page.png">
                        <h2 id="searchTxt">Search For A Session</h2>
                    <!-- </button> -->
                </a>
            </div>
        </div>

        <div id="bottomBar">
            <div id="albumCover">
                <img id="albumImg" src="/img/Ellie_Goulding.png">
            </div>
            <div id="rightBottomBar">
                <div id="songTitleContainer">
                    <h4 id="songTitle" class="myTxt">Close To Me</h4>
                </div>
                <div id="leaveOrAdd">
                    <div id="leaveSesh">
                        <img id="leave_img" src="/img/leave_session.png">
                    </div>
                    <div id="addList">
                        <button class="btn btn-info" id="addFont">
                            Add To Your List
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </center>
</body>
</html>

