<!doctype html>
<html>
<head>
    <title>Login Page</title>
    <!-- Default Header -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <!-- End Default Header -->

    <link href="/css/myCSS.css" rel="stylesheet">
    <link href="/css/welcome.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <center>


        <div id="backView">
            <div id="welcome">
                <h1 class="display-3" id="welcomeTitle">Welcome!</h1>
                <h1 class="display-3" id="welcomeTitle">To</h1>
                <div id="DJAM">
                    <h1 class="display-1" id="welcomeTitle">DJAM</h1>
                </div>
            </div>        
            <div id="middle">
                <div id="firstLine">
                    <h5 id="middleWords">Make listening to music</h5>
                </div>
                <div id="secondLine">
                    <h5 id="middleWords">A more sociable experience!</h5>
                </div>
            </div>        
            <div id="in-login-container">
                <button class="button button2">Login</button>
            </div>
        </div>


        <!-- Actual Login Stuff -->
        <div id="overlay">
            <div id="icon">
                <center>
                    <img id="myIcon" src="/img/facebook.png">
                </center>
            </div>
            <div id="the-form">
                <form>
                  <div class="form-group">

                    <h4 class="h4">Email address</h4>
                    <input id="textboxid" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <p><small>We'll never share your email with anyone else.</small></p>
                </div>
                <div class="form-group">
                    <h4 class="h4">Password</h4>
                    <input id="textboxid" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remenber Me</label>
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-lg" onclick="loggedIn()">Submit</button>
                <br>
                <br>
                <p class="lead">--- OR ---</p>
                <button type="submit" class="btn btn-primary btn-lg" onclick="loggedInFB()">Login with Facebook</button>
            </form>
        </div>
        <a href="back">
            <div id="back">
                <img id="back_img" src="/img/exit.png">
            </div>
        </a>
    </div>


</center>
<script>
function loggedIn() {
    console.log("regular login");
    // window.location.href = 'host';
}
function loggedInFB() {
    console.log("facebook login");
    // window.location.href = 'host';
}
</script>

</body>
</html>
