<!doctype html>
<html>
<head>
    <title>Host Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">
    <link href="/css/welcome.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <center>


        <div id="backView">
            <div id="welcome">
                <h1 class="display-3" id="welcomeTitle">Welcome!</h1>
                <h1 class="display-3" id="welcomeTitle">To</h1>
                <div id="DJAM">
                    <h1 class="display-1" id="welcomeTitle">DJAM</h1>
                </div>
            </div>        
            <div id="middle">
                <div id="firstLine">
                    <h5 id="middleWords">Make listening to music</h5>
                </div>
                <div id="secondLine">
                    <h5 id="middleWords">A more sociable experience!</h5>
                </div>
            </div>        
            <div id="login-container">
                <button class="button button2">Login</button>
            </div>
        </div>


        <!-- Actual Login Stuff -->
        <div id="overlay">
            <div id="icon">
                <img id="myIcon" src="/img/facebook.png">
            </div>
            <div id="the-form">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input id="textboxid" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input id="textboxid" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remenber Me</label>
                </div>
                <br>
                <button id="submitButton" type="submit" class="btn btn-primary" onclick="window.location.href = 'host';">Submit</button>
            </form>
        </div>
        <a href="back">
            <div id="back">
                <img id="back_img" src="/img/exit.png">
            </div>
        </a>
    </div>


</center>
</body>
</html>
