<!doctype html>
<html>
<head>
    <title>Main Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/myCSS.css" rel="stylesheet">
</head>
<body>
    <center>
        <h1 class="landingTitle">Hello There</h1>
    </center>
</body>
</html>
