<!doctype html>
<html>
<head>
    <title>Search Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/searchCSS.css" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <center>
        <div id="titleBar">
            <a href="back">
                <div id="hamburger">
                    <img id="hamImg" src="/img/hamburger.png">
                </div>
            </a>
            <div id="albumCover"><!-- 
                <img id="albumImg" src="/img/Ellie_Goulding.png"> -->
            </div>
            <div id="rightTopBar">
                <input id="barS" type="text" class="form-control" placeholder="Search for People" aria-label="Username" aria-describedby="basic-addon1">

                <div id="songTitleContainer">
                    <!-- <h4 id="songTitle" class="myTxt">Close To Me</h4>
                    <marquee id="albumTitle" class="myTxt" behavior="scroll" direction="left" style="marquee-speed:slow;">Ellie Goulding and Diplo featuring Swae Lee</marquee> -->
                </div>
                <div id="leaveOrAdd">
                    <!-- <a href="back">
                        <div id="leaveSesh">
                            <img id="leave_img" src="/img/end_session.png">
                        </div>
                    </a>
                    <div id="addList">
                        <button class="btn btn-info" id="addFont" onclick="added()">
                            Add To Your List
                        </button>
                    </div> -->
                  <!--   <div id="pause">
                        <img id="leave_img" src="/img/pause.png">
                    </div>
                    <div id="next">
                        <img id="leave_img" src="/img/next.png">
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Second Section of Session ID -->
        <!-- <div id="SessionIDTab1"> -->
            <!-- <input id="searchTab"type="text" placeholder="Search.."> -->
 <!--            <input type="text" class="form-control" placeholder="Search to Add Song" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div> -->
        <div id="filler_grey"> 
            <br>
        </div>

        <!-- Second Section of Session ID -->
        <div id="SessionIDTab"><!-- 
            <h4 id="SessionID"> Your Session ID is: Z7AX6</h4> -->
        </div>        
        <div id="yourListen"> <!-- 
            <h4 class="myTxt" style="font-size: 5vw;">Whos Listening:</h4> -->
        </div>

 <!--        <div id="yourListen"> 
            hello
        </div> -->

        <!-- Third Section of Friend List -->
        <div id="friendList">
            {{#each session}}

            <a href="inSession">
                <div id="friend">
                    <div id="friendImgContainer">
                        <img src={{imageURL}} id="hello">
                    </div>
                    <div id=friendNameContainer>
                        <h3 id="friendName">{{name}}'s Session ({{Code}})</h3>
                    </div>
                </div>
            </a>
            <br>

            {{/each}}


            <button id="inviteFriend" onclick="invited()">
                <p id="inviteText">Invite Friends +</p>
            </button>
        </div>

    <div id="bottomBar">
    </div>

</center>

<script>
    function added() {
      document.getElementById("addFont").innerHTML = "Added";
      $("#addFont").css("background-color", "lightgreen");
      $("#addList").css("left", "50%");
  }
  function invited(){
    document.getElementById("inviteText").innerHTML = "Invited";
    $("#inviteFriend").css("background-color", "lightgreen");
}
</script>
</body>
</html>

