<!doctype html>
<html>
<head>
    <title>Search Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/searchCSS.css" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <center>
        <div id="titleBar">
            <div id="hamburger">
                <img id="hamImg" src="/img/hamburger.png">
            </div>
            <div id="albumCover">
                <img id="albumImg" src="/img/Ellie_Goulding.png">
            </div>
            <div id="rightBottomBar">
                <div id="songTitleContainer">
                    <h4 id="songTitle" class="myTxt">Close To Me</h4>
                    <marquee id="albumTitle" class="myTxt" behavior="scroll" direction="left" style="marquee-speed:slow;">Ellie Goulding and Diplo featuring Swae Lee</marquee>
                </div>
                <div id="leaveOrAdd">
                    <a href="back">
                        <div id="leaveSesh">
                            <img id="leave_img" src="/img/end_session.png">
                        </div>
                    </a>
                    <div id="addList">
                        <button class="btn btn-info" id="addFont" onclick="added()">
                            Add To Your List
                        </button>
                    </div>
                  <!--   <div id="pause">
                        <img id="leave_img" src="/img/pause.png">
                    </div>
                    <div id="next">
                        <img id="leave_img" src="/img/next.png">
                    </div> -->
                </div>
            </div>
        </div>
                <div id="filler_grey"> 
            <br>
        </div>

        <!-- Second Section of Session ID -->
        <div id="SessionIDTab1">
            <!-- <input id="searchTab"type="text" placeholder="Search.."> -->
            <input type="text" class="form-control" placeholder="Search to Add Song" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
 <!--        <div id="yourListen"> 
            hello
        </div> -->

        <!-- Third Section of Friend List -->
        <div id="friendList">

            {{#each songs}}
            <div id="friend">
                <div id="friendImgContainer">
                    <img src={{imageURL}} id="hello">
                </div>
                <div id=friendNameContainer>
                    <h3 id="friendName">{{name}}</h3>
                    <h3 id="otherInfo" style="color: green">{{artist}}</h3>
                    <h3 id="otherInfo2" style="color: brown">{{album}}</h3>
                </div>
            </div>
            <br>
            {{/each}}


<!--             <button id="inviteFriend">
                <p id="inviteText">Invite Friends +</p>
            </button> -->
        </div>
<!-- 
        <div id="mainButtons">

            <div id="topButton" class="btn-group">
                <a href="loginHost">
                    <img id="myImg" src="/img/DJ_Page.png">
                    <h2 id="hostTxt">Host a Session</h2>
                </a>
            </div>

            <div id="bottomButton" class="btn-group">
                <a href="loginSearch">
                    <img id="myImg" src="/img/Search_Page.png">
                    <h2 id="searchTxt">Search For A Session</h2>
                </a>
            </div>
        </div>
    -->
    <div id="bottomBar">
    </div>

</center>

<script>
    function added() {
      document.getElementById("addFont").innerHTML = "Added";
      document.getElementById("container").style.marginTop = "100px";
      $("#addFont").css("background-color", "lightgreen");
      $("#addList").css("left", "45");
  }
</script>
</body>
</html>

