<!doctype html>
<html>
<head>
    <title>Search Page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/searchCSS.css" rel="stylesheet">
</head>
<body>
    <center>
        <div id="titleBar">
            <div id="hamburger">
                <img id="hamImg" src="/img/hamburger.png">
            </div>
            <div id="albumCover">
                <img id="albumImg" src="/img/Ellie_Goulding.png">
            </div>
            <div id="rightBottomBar">
                <div id="songTitleContainer">
                    <h4 id="songTitle" class="myTxt">Close To Me</h4>
                    <marquee id="albumTitle" class="myTxt" behavior="scroll" direction="left" style="marquee-speed:slow;">Ellie Goulding and Diplo featuring Swae Lee</marquee>
                </div>
                <div id="leaveOrAdd">
                    <a href="back">
                        <div id="leaveSesh">
                            <img id="leave_img" src="/img/end_session.png">
                        </div>
                    </a>
                    <div id="pause">
                        <img id="leave_img" src="/img/pause.png">
                    </div>
                    <div id="next">
                        <img id="leave_img" src="/img/next.png">
                    </div>
                </div>
            </div>
        </div>

        <div id="mainButtons">

            <div id="topButton" class="btn-group">
                <a href="loginHost">
                    <img id="myImg" src="/img/DJ_Page.png">
                    <h2 id="hostTxt">Host a Session</h2>
                </a>
            </div>

            <div id="bottomButton" class="btn-group">
                <a href="loginSearch">
                   <!--  <button type="button" id="startBtn" onclick="document.getElementById('startBtn3').style.color = 'red'"> -->
                        <img id="myImg" src="/img/Search_Page.png">
                        <h2 id="searchTxt">Search For A Session</h2>
                    <!-- </button> -->
                </a>
            </div>
        </div>

        <div id="bottomBar"><!-- 
            <div id="albumCover">
                <img id="albumImg" src="/img/Ellie_Goulding.png">
            </div>
            <div id="rightBottomBar">
                <div id="songTitleContainer">
                    <h4 id="songTitle" class="myTxt">Close To Me</h4>
                </div>
                <div id="leaveOrAdd">
                    <div id="leaveSesh">
                        <img id="leave_img" src="/img/leave_session.png">
                    </div>
                    <div id="addList">
                        <button class="btn btn-info" id="addFont">
                            Add To Your List
                        </button>
                    </div>
                </div>
            </div> -->
        </div>

    </center>
</body>
</html>

