<!doctype html>
<html>
<head>
    <title>Streaming</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <!-- Host Header -->
    {{>hostTemplate}}
    <!-- End Host Header -->
    <script src="/js/host.js"></script>
<!--     <style type="text/css"> 
    #friendName{
        color: #000080; 
    }
</style> -->
</head>
<body>   
    <center>
        <p id="chillin"></p>
        <script>
            console.log("song is:" + sessionStorage.songs);
        </script>
        <div id="titleBar">
            <a href="stream">
                <div id="back-container">
                    <h1 class="display-4"><</h1>
                </div>
            </a>
            <div id="title-container">
                <h1 id="title">Streaming</h1>
            </div>
        </div>
        <div id="middle2-stream">
            <div id="instructions">
                <div id="hostInfo">
                    <p class="lead" id="sessionIdText">You session ID: </p>
                    <p class="lead on-air" id="instructions-txt-stream"></p>
                </div>
                <div id="sessionInfo">
                    <p class="lead" id="instructions-txt-id-stream"></p>
                </div>
            </div>

            <div id="top-buttons-stream"></div>

            <div id="albumArt-stream">
                <img src="/img/album.png" id="img">
                <img src="/img/mute.png" id="img2">
                <script>
                    if((sessionStorage.hostCode).length > 3){
                        //check if next song is triigered at end of first song
                        if(sessionStorage.newStream === "true"){
                            document.getElementById("img").src = sessionStorage.getItem("songImg"+sessionStorage.hostCode);
                        }else {

                            document.getElementById("img").src = "/img/" + sessionStorage.songs + ".png";
                        }
                    } else {

                        document.getElementById("img").src = "/img/5.png";
                    }
                </script>
            </div>

        </div>

        <div id="bottomPlayer-stream">
            <div id="songInfo">

                <h1 class="display-4 songTitle-stream" id="songTitle">
                </h1>
                <div id="songDet-container">
                    <p class="lead songDet-stream" id="songDet">
                    </p>
                </div>

                <script>
                    if((sessionStorage.hostCode).length > 3){
                        //check if next song is triigered at end of first song
                        if(sessionStorage.newStream === "true"){
                            console.log("host code inside is: " + sessionStorage.hostCode);
                            var sessionID = sessionStorage.hostCode;
                            var input = 'artist'+ sessionID;
                            console.log("input1: " +  input);
                            var artist = sessionStorage.getItem(input);
                            input = 'album'+ sessionID;
                            console.log("input2: " +  input);
                            var album = sessionStorage.getItem(input);

                            input = 'song' + sessionID;

                            console.log("input3: " +  input);
                            console.log("input is: " + 'songList' + sessionStorage.songs);
                            var title = sessionStorage.getItem(input);
                            console.log("title is: " + title);

                            document.getElementById("songTitle").innerHTML=title;

                            console.log("It works: "+ artist);
                            document.getElementById("songDet").innerHTML = artist + " - " + album;
                        } else {
                            var songID = sessionStorage.songs;
                            var input = 'artist'+ songID;
                            var artist = sessionStorage.getItem(input);
                            input = 'album'+ songID;
                            console.log("input2: " +  input);
                            var album = sessionStorage.getItem(input);

                            input = 'title' + songID;
                            var title = sessionStorage.getItem(input);

                            document.getElementById("songTitle").innerHTML=title;

                            console.log("It works: "+ artist);
                            document.getElementById("songDet").innerHTML = artist + " - " + album;
                        }
                    } else {
                        document.getElementById("songTitle").innerHTML=sessionStorage.title5;
                        document.getElementById("songDet").innerHTML = sessionStorage.artist5 + " - " + sessionStorage.album5;
                    }
                </script>
            </div>
            <div id="audio2" class="streamCRT">
                <audio controls id="crt" > 
                    <!-- autoplay -->
                    <source src="/songs/5.mp3" type="audio/mpeg" id="player">
                    </audio>
                    <script>
                        console.log('nullcheck for stream');
                        console.log(sessionStorage.hostCode);
                        if((sessionStorage.hostCode).length > 3){
                            console.log("within the specified length");
                        //check if next song is triigered at end of first song
                            if(sessionStorage.newStream === "true"){
                            console.log("within the newStream is true");
                                document.getElementById("player").src = "/songs/" + sessionStorage.getItem("songID"+sessionStorage.hostCode) + ".mp3";
                            } else {
                            console.log("within the newStream is false");
                                document.getElementById("player").src = "/songs/" + sessionStorage.songs + ".mp3";
                            }
                        }

                        //to start at random time
                        if (sessionStorage.newStream === "true"){
                            var min=5; 
                            var max=35;  
                            var random =Math.floor(Math.random() * (+max - +min)) + +min; 
                            console.log("random: " + random);
                            document.getElementById("crt").currentTime = Number(random);
                        }

                        document.getElementById("crt").play();

                        //autoplay next song
                        var aud = document.getElementById("crt");
                        aud.onended = function() {
                            var prev = sessionStorage.songs;
                            sessionStorage.newStream = "false";

                            var min=1; 
                            var max=sessionStorage.totalSongs;
                            max = parseInt(max, 10);
                            var random =Math.floor(Math.random() * (+max - +min)) + +min; 
                            console.log("randomSong: " + random);

                            //make sure no repeats
                            while(prev === random){
                                var min=1; 
                                var max=sessionStorage.totalSongs;
                                max = parseInt(max, 10);
                                var random =Math.floor(Math.random() * (+max - +min)) + +min; 
                                console.log("randomSong: " + random);
                            }

                            sessionStorage.songs = random;
                            console.log( "next to: " + sessionStorage.songs);
                            // document.getElementById("player").src = "/songs/" + sessionStorage.songs + ".mp3";

                            window.location.href = 'streaming'; 
                        };

                    </script>
                </div>


                <div id="mute-container">
                    <button type="button" id="mute-button" class="btn btn-outline-dark btn-lg">
                        <h5 id="mute-button-txt">🔊Mute</h5>
                    </button>
                </div>


        </div>


                <!--<div id="playerControls">
                     <div id="playerButtons" class="btn-group-lg" role="group" aria-label="Basic example">
                        <div id="prevContainer">
                            <button type="button" class="btn btn-secondary" id="player-btn-prev">l◄</button>
                        </div>
                        <div id="pauseContainer">
                            <button type="button" class="btn btn-secondary" id="player-btn-pause">II</button>
                        </div>

                        <div id="nextContainer">
                            <button type="button" class="btn btn-secondary" id="player-btn-next">►l</button>
                        </div>
                    </div> 
                </div>-->

<!--                 <script>
                    if(sessionStorage.songs >= 11){
                        document.getElementById('player-btn-next').disabled = true;
                    }
                    if(sessionStorage.songs <= 1){
                        document.getElementById('player-btn-prev').disabled = true;
                    }
                </script> -->



<!--             <form name="myForm" id="hosting-form" role="form" method="get" action="/add">

                <input type="text" name="hostName">
                <input type="text" name="hostCode">
                <input type="text" name="hostPic">
                <input type="text" name="songTitle">
                <input type="text" name="artist">
                <input type="text" name="album">
                <input type="text" name="songImg">
                <input type="text" name="songID">
                <input type="text" name="friends">

            </form>
            <script>
                document.forms["myForm"]["hostName"].value = "New User";
                document.forms["myForm"]["hostCode"].value = sessionStorage.sessionID;
                document.forms["myForm"]["hostPic"].value = "/img/filler_profile.png";
                document.forms["myForm"]["songTitle"].value = sessionStorage.songsTitle;
                document.forms["myForm"]["artist"].value = sessionStorage.songsArtist;
                document.forms["myForm"]["album"].value = sessionStorage.songsAlbum;
                document.forms["myForm"]["songImg"].value = sessionStorage.songImg;
                document.forms["myForm"]["songID"].value = sessionStorage.songs;
                document.forms["myForm"]["friends"].value = sessionStorage.friends; 
            </script> -->
<!-- 
            "name": "Clark",
            "Code": "A1377X",
            "hostPic": "/img/clark-kent.jpg",
            "songTitle": "Better Now",
            "artist": "Post Malone",
            "album": "beerbongs & bentleys",
            "songImg": "/img/10.png",
            "songID": "10",
            "friends": "1,2,3,6" -->





        </center>

        <script>
            sessionStorage.recountSongs="false";
            function added() {
              document.getElementById("addFont").innerHTML = "Added";
              $("#addFont").css("background-color", "lightgreen");
              $("#addList").css("left", "50%");
          }
          function invited(){
            document.getElementById("inviteText").innerHTML = "Invited";
            $("#inviteFriend").css("background-color", "lightgreen");
        }
    </script>


    <script>
      if (typeof(Storage) !== "undefined") {
        var storaged = sessionStorage.hello;
        console.log(storaged);
    } else {
        console.log("Sorry, your browser does not support web storage...");
    }


    document.getElementById("instructions-txt-stream").innerHTML = sessionStorage.hostCode;



    if((sessionStorage.hostCode).length < 3){
        document.getElementById("instructions-txt-stream").innerHTML = "000000";
    } else {
        var input = "host" + sessionStorage.hostCode;
        document.getElementById("instructions-txt-id-stream").innerHTML = sessionStorage.getItem(input) + "'s Session";
    }    document.getElementById("instructions-txt-stream").style.fontWeight = "900";

    document.getElementById("instructions-txt-stream").style.color = "green";
</script>

</body>
</html>



