<!doctype html>
<html>
<head>
    <title>Host Page</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <link href="/css/welcome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- <script src="/js/introHCI.js"></script> -->
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body>   
    <center>
        <div id="welcome">
            <h1 class="display-3" id="welcomeTitle">Welcome!</h1>
            <h1 class="display-3" id="welcomeTitle">To</h1>
            <div id="DJAM">
                <h1 class="display-1" id="welcomeTitle">DJAM</h1>
            </div>
        </div>        
        <div id="middle">
            <div id="firstLine">
                <h5 id="middleWords">Make listening to music</h5>
            </div>
            <div id="secondLine">
                <h5 id="middleWords">A more sociable experience!</h5>
            </div>
        </div>        
        <div id="login-container">
            <button class="button button2" onclick="window.location.href = 'login';">Login</button>
        </div>
    </center>

    <script>
        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
      }
  </script>
</body>
</html>

