<!doctype html>
<html>
<head>
    <title>Host Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/welcome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>
    <center>
        <div id="welcome">
            <h1 class="display-3" id="welcomeTitle">Welcome!</h1>
            <h1 class="display-3" id="welcomeTitle">To</h1>
            <div id="DJAM">
                <h1 class="display-1" id="welcomeTitle">DJAM</h1>
            </div>
        </div>        
        <div id="middle">
            <div id="firstLine">
                <h5 id="middleWords">Make listening to music</h5>
            </div>
            <div id="secondLine">
                <h5 id="middleWords">A more sociable experience!</h5>
            </div>
        </div>        
        <div id="login-container">
            <button class="button button2" onclick="window.location.href = 'login';">Login</button>
        </div>
    </center>
  <script>
    function added() {
      document.getElementById("addFont").innerHTML = "Added";
      $("#addFont").css("background-color", "lightgreen");
  }
</script>
</body>
</html>

