body {
    background-color: black;
}

/*Main Sections*/
#titleBar{
    position: absolute;
    top:0%;
    height: 13%;
    width: 100%;
    background-color:#bac5c9;
    text-align: center;
    /*padding: 2%;*/
}

#middle{
    position: absolute;
    top:13%;
    height: 75%;
    width: 100%;
    background-color: #eaf3fa;
}

#bottomBar{
    position: absolute;
    top:88%;
    left:0%;
    height:12%;
    width: 100%;
    background-color: #9ec2dd;
}

/*Within the title bar*/
#back-container{
    position: absolute;
    top:14%;
    left:4%;
    height:50%;
    width: 10%;
    /*background-color: red;*/
}
#title-container{
    position: absolute;
    top:23%;
    left:12%;
    height:100%;
    width: 88%;
}
#title{
    font-family: 'Amaranth';
    font-size: 12vw;
    color: #4834d4;
    text-shadow: -1px 0 #270084, 0 1px #270084, 1px 0 #270084, 0 -1px #270084;

}
/*End of the title Bar*/

/*Start the middle section*/
#instructions{
    position: absolute;
    top: 1%;
    left: 0%;
    right:0%;
    height: 8%;
    margin-left: auto;
    margin-right: auto;
    /*background-color:red;*/
}

#instructions-txt{
    letter-spacing: 1px;
    font-family: 'Amaranth';
    font-size: 7vw;
}

#friend-list{
    position: absolute;
    padding-top: 4%;
    top: 10%;
    width: 80%;
    height: 90%;
    left: 10%;
    right: 10%;
    margin-right: auto;
    margin-left: auto;
    /*background-color: brown;*/
    overflow: auto;
}

.friend{
    position: relative;
    height:13%;
    width: 100%;
    display: block;
    margin-left: 0%;
    align-content: left;
    border: 1px solid black;
    border-radius: 12px;
    /*Box shadow:*/
    -webkit-box-shadow:    0 1px 0 #462c95, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 1px 0 #462c95, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 1px 0 #462c95, 0 15px 20px rgba(0, 0, 0, .35);


    /*background-color: #e6eaf2;*/
}

#friendImgContainer{
    position: absolute;
    top:0%;
    left: 0%;
    width:17%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    /*display: block;*/
/*    height: 8%;
    width: 15%;
    margin-left: 0%;*/

    /*
    height:9.5%;
    left: 2.5%;

    border: 1px solid black;*/
}

#friendNameContainer{
    position: absolute;
    width: 83%;
    height:100%;
    left: 17%;
    padding-top: 3%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #fffff0;
}

#hello{
    overflow: hidden;
    position: absolute;
    left:-2.5%;
    top: -2.5%;
    width:105%; 
    height:105%; 
    object-fit:cover; 
}
#friendName{
    font-family: 'Helvetica Neue';
    color: #000080;  
}


/*End of the middle section*/

