/*body {
    background-color: #000000;
}*/
/*Animation definitions:*/
@-webkit-keyframes fadeIn { 
    from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes fadeIn { 
    from { opacity:0; } to { opacity:1; } 
}
@keyframes fadeIn { 
    from { opacity:0; } to { opacity:1; } 
}


/*Here is all for login*/

#backView{
  opacity: 0.3;
}

#overlay{
    position: absolute;
    top:5%;
    left:7%;
    height: 85%;
    width: 86%;
    z-index: 2;
    border: 3px solid black;
    background-color: #74b9ff;
    /*#146be5;*/
    padding: 3%;
    animation: 1.75s ease-out 0s 1 fadeIn;
}
#icon{
    position: absolute;
    left: 0%;
    top: 5%;
    height: 20%;
    width: 100%;
}
#myIcon{
    position: absolute;
    max-height: 100%;
    left:0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
}
#the-form{
    position: absolute;
    top: 25%;
    left: 5%;
    height: 80%;
    width: 90%;
    padding-top:5%;
    font-size: 4vw;
}

#emailHelp{
    color: black;
}

#textboxid
{
    height:300%;
    font-size:100%;
}

#submitButton{
    height: 500%;
    font-size:100%;
    /*width:200%;*/
}
#check1{
    height: 35px;
    width: 35px;
}



/*Everything below is for index.handlebars*/

#titleBar{
    position: absolute;
    top:0%;
    height: 12%;
    width: 100%;
    background-color: #9b9fa3;
    text-align: center;
    /*padding: 2%;*/
}
#mainButtons{
    position: absolute;
    top:12%;
    height: 73%;
    background-color: #828689;
    width: 100%;
    padding-top:5%;
}
#bottomBar{
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0%;
    background-color: #9b9fa3;
}

#landingTitle{
    color: #4b8be5;
    font-size: 19vw;
    text-align: center;    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    /*font-weight: bold;*/
}

#topButton{
    position: absolute;
    left:5%;
    top:5%;
    height: 43%;
    width: 90%;
    /*
    margin: 0px;
    padding: 5%;*/
    background-color: black;
}

#bottomButton{
    position: absolute;
    left:5%;
    top:55%;
    height: 43%;
    width: 90%;    
    background-color: black;

}

.btn-group button {
  width: 50%;
  height: 100%;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#startBtn{
    width: 100%;
    /*padding-top: 35%;*/
    font-size: 5vw;
    border: 1px solid black;
    background-color: black;
}


#hostTxt{
    position: absolute;
    bottom: 5%;
    left: 20%;
    text-align: center;
    color: white;
    font-size: 8vw;
    z-index: 2;    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#searchTxt{
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: center;
    color: #4b8be5;
    font-size: 8vw;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#albumCover{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 35%;
    height:100%;
    /*border: 1px solid black;*/
    background-color: white;
    background-color: #9b9fa3;
    /*background-color: red;*/
}
#albumImg{  
    position: absolute;
    top:10%;
    left:13%;
    width: 80%;
    max-height: 80%;  
    border: 2px solid black;  
    /*align-content: center;*/
}

#rightBottomBar{
    position: absolute;
    bottom: 0%;
    left: 35%;
    width: 65%;
    height: 100%;
    /*background-color: yellow;*/
}
#songTitleContainer{
    position: absolute;
    top: 5%;
    width: 100%;
    height:30%;
    /*border: 1px solid black;*/
    /*background-color: yellow;*/
}
#songTitle{
    position: absolute;
    top:-25%;
    left:12%;
    font-size: 8vw;
}

#leaveOrAdd{
    position: absolute;
    top: 30%;
    width: 100%;
    height:70%;
}

#leaveSesh{
    position: absolute;
    left: 2%;
    top:5%;
    width: 28%;
    height: 75%;
}
#leave_img{  
    position: absolute;
    max-height: 100%;
    top:0%;
    left:-5%;
}
#addList{
    position: absolute;
    right:9%;
    top:20%;
    max-width: 60%;
}
#addFont{
    font-size: 5vw;
}
#myImg{  
    width: 100%;
    height: 100%;
    align-content: center;
}
.myTxt{
    color: #4b8be5;    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#back{
    position: absolute;
    top:3%;
    right:5%;
    height: 7%;
    width: 7%;
    z-index: 15;
}
#back_img{  
    position: absolute;
    max-height: 100%;
    top:0%;
    right:2%;
}
#fb-button{
  transition-delay: .25s;
  animation: 2s ease-out 0s 1 fadeIn;
}