body{
    background-color: #edf1f2;   
    animation: 1s ease-out 0s 1 fadeIn;
}
.body2{
    position: absolute;
    top:0%;
    left:0%;
    height: 100%;
    width: 100%;
    background-color: #d4d7d8; 
}
/*Animation definitions:*/
@-webkit-keyframes fadeIn { 
    from { opacity:0; } to { opacity:1; } 
}
@-moz-keyframes fadeIn { 
    from { opacity:0; } to { opacity:1; } 
}
@keyframes fadeIn { 
    from { opacity:0; } to { opacity:1; } 
}
@-webkit-keyframes fadeDown {
    0% {
        transform: scale(1,1) translate(0px, 20px);
    }

    30%{
        transform: scale(1,1) translate(0px, 15px); 
    }

    75%{
        transform: scale(1,1) translate(0px, -10px); 
    }

    100% {
        transform: scale(1,1) translate(0px, 0px);
    }
}
@-webkit-keyframes fadeDown2 {
    0% {
        transform: scale(1,1) translate(0px, 15px);
    }

    30%{
        transform: scale(1,1) translate(0px, 10px); 
    }

    75%{
        transform: scale(1,1) translate(0px, -5px); 
    }

    100% {
        transform: scale(1,1) translate(0px, 0px);
    }
}

#welcome{
    position: absolute;
    height: 50%;
    width:100%;
    top: 8%;
    left: 0%;  
    /*background-color: #9b9fa3;*/
    -webkit-animation: fadeDown .75s 1;
}

#welcomeTitle{
    font-family: 'Amaranth';
    /*font-variant: bold;*/
    color: #4834d4;
    text-shadow: -1px 0 #270084, 0 1px #270084, 1px 0 #270084, 0 -1px #270084;
}

#middle{
    position: absolute;
    height: 7%;
    width: 100%;
    top: 57%;
    left: 0%;
    padding-top: 3%;    
    animation: 1.25s ease-out 0s 1 fadeIn;
}

#middleWords{
    color: #098c28;
    -webkit-animation: fadeDown2 .75s 1;
}

#firstLine{
    position: absolute;
    top: 10%;
    left: 16%;
}
#secondLine{
    position: absolute;
    top: 55%;
    left: 25%;
}

#login-container{
    position: absolute;
    padding-top: 10%;
    height: 42%;
    width: 100%;
    top: 63%;
    left: 0%;    
    animation: 1.75s ease-out 0s 1 fadeIn;
    /*background-color: black;*/
}

#in-login-container{
    position: absolute;
    padding-top: 10%;
    height: 42%;
    width: 100%;
    top: 63%;
    left: 0%;
    opacity: .4;
}

.button {
    /*background-color: #4978f4; */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 15vw;*/
    font-size: 65px;
    cursor: pointer;
    padding-top: 0px;
    text-align: center;
    /*margin: auto;*/

    background-color: #0c77e3; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0c77e3), to(#29458F));
    background-image: -webkit-linear-gradient(top, #0c77e3, #29458F);
    background-image: -moz-linear-gradient(top, #0c77e3, #29458F);
    background-image: -ms-linear-gradient(top, #0c77e3, #29458F);
    background-image: -o-linear-gradient(top, #0c77e3, #29458F);
    background-image: linear-gradient(to bottom, #0c77e3, #29458F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0c77e3, endColorstr=#29458F);
    
    /*Box shadow:*/
    -webkit-box-shadow:    0 5px 0 #132d72, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 5px 0 #132d72, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 5px 0 #132d72, 0 15px 20px rgba(0, 0, 0, .35);

    -webkit-animation: fadeDown.75s 1;
}

.button:active {
    padding: 0px;
    background-color: #1a3f9b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button2 {
    /*padding: 0px;*/
    border-radius: 9px;
    width: 65%;
    height: 45%;
    color: white;     
    text-shadow: -3px 0 #1d46af, 0 3px #1d46af, 3px 0 #1d46af, 0 -3px #1d46af;
    border: 2px solid #2c3e50;
    text-align: center;
    margin: auto;
}
#DJAM{
    position: absolute;
    width: 70%;
    height: 115px;
    top: 50%;
    right: 0%;
    left: 0%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: red;*/
}
#DJAM-img{
    position: absolute;
    left:0%;
    top: 0%;
    right:0%;
    margin-left: auto;
    margin-right: auto;
    /*width:100%; */
    height:100%; 
    object-fit:cover; 
    text-align: center;
}
#innerImg{
    height:140%;
    /*height:100%; */
}




/*This is the help button/page*/
#helpButtonContainer{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 7%;
    animation: 2s ease-out 0s 1 fadeIn;
}

#helpImg{
    width: 100%;
    animation: fadeDown2 .75s 1;
}
#help-title{
  font-variant: small-caps;
  font-size: 8vw;
}
